<table class='table table-sm table-hover' *ngIf='filmstars'>
    <thead>
        <tr class="alert-info">
            <th>Avatar</th>
            <th>Name</th>
            <th>Popularity</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let filmstar of filmstars' class="table-active" (click)="onClick($event)">
             <td>
                <img src="http://image.tmdb.org/t/p/w185{{filmstar.profile_path}}">
            </td>
            <td>{{filmstar.name}}</td>
            <td>{{filmstar.popularity}}</td>
        </tr>
    </tbody>
</table>