<style>
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="jumbotron">
  <nav class="nav navbar-nav">
      
  </nav>
      <h1>The Big Fat Cinema App <img class="hidden-xs img-rounded movie_img" src='src\app\shared\img\preview_COLOURBOX6324830.jpg' width="150" height="150"> </h1>  
      <p>Assignment III. for web dev lecture</p>
</div> 
<div class="container">
        <app-simplehttp></app-simplehttp>
</div>  