<style>
      @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class='container-fluid'>
      <div class='row'>
            <div class='col-sm-3'>
                  <app-searchbar></app-searchbar>
            </div>
            <div class='col-sm-9 body-content'>
                  <app-header></app-header>
                  
                  <app-simplehttp></app-simplehttp>
            </div>
            
      </div>
</div>